In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import numpy as np
import seaborn as sns

In [ ]:

pd.set_option('display.max_columns', 30)
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_colwidth', 400)

## importing dataset

In [ ]:
df_raw=pd.read_csv("P:\Python_DS\Data_Circle\Dataset\survey_results_public.csv")

In [ ]:
df_raw.head()

## Checking the Dataset
    *preliminary analysis of the data:
    checking columns, the null count, turning categorical data to numerical ones

In [ ]:
df.info()
df.describe()

#### Removing Nulls from ConvertedCompYearly

In [ ]:
df = df_raw.dropna(subset= ['ConvertedCompYearly'])

In [ ]:
#Turning the data column Salary to integers
df.loc[:,"ConvertedCompYearly"].astype(int)

In [ ]:
df = df[(df.ConvertedCompYearly < 250000) & (df.ConvertedCompYearly > 1000)]

In [ ]:
##dfa=pd.cut(df.ConvertedCompYearly,[0,5,95,100, right=True])

In [ ]:
df[df.Q120 == "I agree"].count()

--We can remove column Q120
--We can turn RemoteWork [remote, in person, hybrid] input to numerical

In [ ]:
df['AISearchHaveWorkedWith'].str.split(';')

In [ ]:
df['ConvertedCompYearly'].describe()

In [ ]:
df.hist("ConvertedCompYearly", bins=100)

In [ ]:
df[df.ConvertedCompYearly< 200000].ConvertedCompYearly.median()

In [ ]:
filt = df.Employment.value_counts().reset_index().head(7)['index'].tolist()

In [ ]:
df.Employment.value_counts().reset_index()

In [ ]:
df[df['Employment'].isin(filt)].groupby('Employment').agg({'ConvertedCompYearly' : ['mean', 'median']}).reset_index()

--The difference between med and mean

In [ ]:
df['Country'].value_counts().reset_index().head(20)

In [ ]:
df.EdLevel.unique()

In [ ]:
plt.figure(figsize=(20,10))
plt.hist(df.EdLevel)

In [ ]:
df['YearsCodePro'].fillna('nan', inplace=True)
df["YearsCodePro"].unique()
#plt.scatter(df.YearsCodePro, df.ConvertedCompYearly)
df_bar = df.loc[df["ConvertedCompYearly"] < 200000,['YearsCodePro','ConvertedCompYearly']].groupby('YearsCodePro').\
median().sort_values("YearsCodePro").reset_index()

plt.figure(figsize=(20,10))
plt.bar(df_bar.YearsCodePro, df_bar.ConvertedCompYearly)
df_bar.head()

Change the str to numbers

In [ ]:
plt.scatter(df.YearsCodePro, df.ConvertedCompYearly)

### Ideas to go on
-plots and visualisation
-salaries with: countries(continent)/only Europe/ job title/experience
-survey from previous years

In [ ]:
countries=pd.read_csv("P:\Python_DS\Data_Circle\Countries.csv", on_bad_lines='skip')
countries.head()

In [ ]:
euCountries = countries[countries.Continent == "Europe"]["Country"]
euCountries.tolist()

dfEU = df[df.Country.isin(euCountries)]  
dfEU.head()

In [ ]:
df.merge(countries, on="Country", how="right")

In [ ]:
df_2 = df.loc[df["Country"].isin(["United States of America","Germany","United Kingdom of Great Britain and Northern Ireland"]),['EdLevel','DevType','Country','ConvertedCompYearly']]
df_2.head()

In [ ]:
df_2.DevType.value_counts().reset_index().head(15)

In [ ]:
df_3 = df_2.groupby(['Country','DevType','EdLevel']).agg({'ConvertedCompYearly' : ['mean', 'min', 'max', 'count']})\
.reset_index()
df_3.columns = ['Country','DevType','EdLevel','mean', 'min', 'max', 'count']
df_3 = df_3[df_3['count']>10]
df_3

In [ ]:
df_3G = df_3.loc[df_3["Country"]=="Germany",['DevType', 'EdLevel', 'mean']]
df_3U = df_3.loc[df_3["Country"]=="United States of America",['DevType', 'EdLevel', 'mean']]
df_3UK = df_3.loc[df_3['Country']=="United Kingdom of Great Britain and Northern Ireland", ['DevType', 'EdLevel', 'mean']]

In [ ]:
def pivot_df(d):
    d= d.pivot('DevType','EdLevel','mean')
    return d

df_3G = pivot_df(df_3G)
df_3U = pivot_df(df_3U)
df_3UK = pivot_df(df_3UK)

In [ ]:
sns.heatmap(df_3G)

In [ ]:
sns.heatmap(df_3U)

In [ ]:
sns.heatmap(df_3UK)

In [ ]:
#def c2c(country):
    #for i in country:

In [ ]:
#df['Continent']= countries[countries.Country == df['Country']

In [ ]:
#df.groupby('Country').agg({'ConvertedCompYearly' : ['mean', 'median']}).reset_index()

## Things to do
-- Clean the dataset:
    *turn the Years of code to numerical dtype
    *take out the outliers (salary-wise)
    
-- Check for ML model if categorical data works

-- get some visualization (scatter plot/histograms/boxplot/heatmap)

-- Check lowest range (5000 - 10000) income and highest income (200000 - 250000) features